.any-program-team {
  &__item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    // margin-bottom: 10px;
  }

  &__add {
    &-team {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-top: 12px;
        padding: 9px;
        border-radius: 12px;
        width: 100%;
        background-color: $Accent20;
        color: $Accent80;
        font-weight: 400;
        font-size: 18px;
        font-family: $fontFamily;
    }
  }

  &__more {
    .dropdown {
        &__title {
            align-items: center;
            justify-content: center;
            padding: 0px 16px;
        }
    }
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: inherit;
    width: 100%;
    gap: 8px;
    outline: none;

    &--add {
      color: $HelpingGreen100;
    }

    &--remove {
      color: $HelpingRed100;
    }
  }

  &__sportsman {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 8px;
    margin: 0;
    background-color: $WWhite;
    border-radius: 4px;

    .dropdown {
      flex: 1 1 auto;
      &__title {
        padding: 0;
      }
    }

    .btn {
      &__remove {
        background-color: inherit;
        padding: 0;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  &__table {
    thead {
      th {
        text-align: start;
      }
    }

    tbody {
      td {
        &:nth-child(1) {
          background-color: $WWhite;
        }

        &:nth-child(2) {
          padding: 12px;
        }

        &:nth-child(3) {
          padding: 18px;
        }
      }
    }
  }
}
