.modal-refereces {
  display: none;
  &--active {
    display: block;
  }
  &__close {
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $BReserve;
  }
}
