.references-table {
  overflow: auto;
  table {
    width: 100%;
  }

  table {
    border-collapse: collapse;
  }

  thead {
    td {
      border: 1px solid black;
      white-space: nowrap;
      padding: 5px 10px;
    }
  }
  tr {
    text-align: center;
  }

  &__input {
    display: flex;
  }

  td {
    white-space: nowrap;
    border: 1px solid black;
    input {
      padding: 5px 10px;
      outline: none;
      border: none;
      width: 100%;
    }
  }
}


.references__list {
  list-style: none;
  padding: 0;
}