.references-info {
    &__items {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__list {
        padding: 12px 24px 0px 24px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 24px;
        color: $Accent80;
        font-size: 18px;
        &:not(:last-child) {
            border-bottom: 1px solid $WBg;
        }
    }

    table {
        tbody {
            td {
                padding: 12px;
            }
        }
    }
}