.referees-and-coaches {
  table {
    width: 100%;

    tbody {
      td {
        &:not(:last-child) {
          padding: 8px 16px;
        }
      }

      .btn {
        &__remove {
          width: 100%;
          height: 100%;
          background: none;
          padding: 23px 16px;
        }
      }
    }
  }

  &__add {
    &-team {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      margin-top: 12px;
      padding: 9px;
      border-radius: 12px;
      width: 100%;
      background-color: $Accent20;
      color: $Accent80;
      font-weight: 400;
      font-size: 18px;
      font-family: $fontFamily;
    }
  }

  &__btns {
    display: flex;
    gap: 12px;
    margin-top: 12px;
    position: sticky;
    bottom: 0;
    background-color: $WBg;
  }
}
