.teams {
  // height: 100%;
  // overflow: hidden;

  .table-responsive {
    flex: 1 1 auto;
  }

  &__name {
    margin-bottom: 20px;

    &-btn {
      background: none;
      padding: 0;
      width: 100%;

      &-left {
        transform: rotate(180deg);
      }

      &-add {
        margin: 5px 0px;
        padding: 0px 16px;
        transition: all 0.2s ease-in-out;

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            background-color: $Accent20;
            border-radius: 100px;
            transition: all 0.2s ease-in-out;
          }
        }
      }

      &-remove {
        margin: 5px 0px;
        padding: 0px 16px;
        transition: all 0.2s ease-in-out;

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            background-color: $Accent20;
            border-radius: 100px;
            transition: all 0.2s ease-in-out;
          }
        }
      }

      &-print {
        margin: 5px 0px;
        padding: 0px 16px;
        transition: all 0.2s ease-in-out;

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            background-color: $Accent20;
            border-radius: 100px;
            transition: all 0.2s ease-in-out;
          }
        }
      }
    }

    table {
      tbody {
        td {
          padding: 8px 16px;
          input {
            width: 100%;
          }
        }
      }
      tfoot {
        td {
          // padding: 8px 24px;
          // font-size: 18px;
          // font-weight: 400;
          // line-height: 100%;
          background-color: $Accent40;
          color: $WWhite;
          border-right: none;
          // text-align: center;
          // border-right: 1px solid $WBg;
          &:nth-child(1) {
            min-width: 72px;
          }
          &:nth-child(2) {
            min-width: 72px;
          }
          &:nth-child(3) {
            min-width: 190px;
          }
          &:nth-child(4) {
            min-width: 190px;
          }
          &:nth-child(5) {
            width: 100%;
          }
        }
      }
    }
  }

  &__case {
    // display: flex;
    // flex-direction: column;
    // height: 100%;
    // overflow: hidden;
  }

  &__table {
    // display: flex;
    // flex-direction: column;
    // height: 100%;
    overflow: auto;
    // margin-bottom: 20px;
    border-radius: 12px;

    .btn__remove {
      width: 100%;
      height: 100%;
      background: none;
      padding: 23px 16px;
    }

    &::-webkit-scrollbar {
      width: 16px;
    }

    &::-webkit-scrollbar-track {
      background: $WWhite;
      // border-radius: 12px;
    }

    &::-webkit-scrollbar-thumb {
      background: $Accent60;
      border-radius: 40px;
      border: 4px solid $WWhite;
    }

    table {
      border-radius: 0;
    }

    thead,
    tfoot,
    tbody tr {
      display: table;
      width: 100%;
    }

    thead {
      border-radius: 12px 12px 0px 0px;
      overflow: hidden;
      th {
        white-space: nowrap;
        padding: 16px;

        &:nth-child(1) {
          max-width: 260px;
          min-width: 260px;
        }
        &:nth-child(2) {
          max-width: 260px;
          min-width: 260px;
        }
        &:nth-child(3) {
          max-width: 162px;
          min-width: 162px;
        }
        &:nth-child(4) {
          max-width: 237px;
          min-width: 237px;
        }
        &:nth-child(5) {
          max-width: 320px;
          min-width: 320px;
        }
        &:nth-child(6) {
          max-width: 129px;
          min-width: 129px;
        }
        &:nth-child(7) {
          max-width: 157px;
          min-width: 157px;
        }
        &:nth-child(8) {
          max-width: 157px;
          min-width: 157px;
        }
        &:nth-child(9) {
          max-width: 72px;
          min-width: 72px;
        }
      }

      tr {
        &:nth-child(1) {
          &::after {
            display: none;
          }
        }
        &:nth-child(2) {
          th {
            background-color: $Accent40;
            &:nth-child(1) {
              min-width: 170px;
            }
            &:nth-child(2) {
              min-width: 170px;
            }
          }
        }
      }
    }
    tbody {
      display: block;
      max-height: 320px;
      overflow-y: auto;

      .dropdown {
        &__title {
          padding: 0;

          svg {
            flex: 0 0 auto;
          }
        }
      }

      &::-webkit-scrollbar {
        width: 16px;
      }

      &::-webkit-scrollbar-track {
        background: $WWhite;
        // border-radius: 12px;
      }

      &::-webkit-scrollbar-thumb {
        background: $Accent60;
        border-radius: 40px;
        border: 4px solid $WWhite;
      }

      td {
        padding: 8px 16px;

        input {
          max-width: 228px;
        }

        &:nth-child(1) {
          min-width: 260px;
        }
        &:nth-child(2) {
          min-width: 260px;
        }
        &:nth-child(3) {
          min-width: 162px;
          input {
            max-width: 130px;
          }
        }
        &:nth-child(4) {
          min-width: 237px;
          background-color: $WWhite;
        }
        &:nth-child(5) {
          min-width: 170px;
          background-color: $WWhite;
        }
        &:nth-child(6) {
          min-width: 170px;
          background-color: $WWhite;
        }
        &:nth-child(7) {
          min-width: 129px;
        }
        &:nth-child(8) {
          min-width: 157px;
        }
        &:nth-child(9) {
          min-width: 157px;
        }
        &:nth-child(10) {
          min-width: 56px;
          width: 100%;
          padding: 0;
        }
      }
    }

    .table__header td {
      padding: 13px 24px;
    }
  }

  &__btn {
    &-add {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      margin-top: 12px;
      padding: 9px;
      border-radius: 12px;
      width: 100%;
      background-color: $Accent20;
      color: $Accent80;
      font-weight: 400;
      font-size: 18px;
      font-family: $fontFamily;
    }
  }

  &__btns {
    position: sticky;
    bottom: 0px;
    background-color: #fff;
  }
}
