.tournament-name {
  &__container {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    input {
      outline: none;
      padding: 10px 20px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__text {
    cursor: pointer;
  }
}
