@import "variables.scss";
@import "default.scss";
@import "fonts.scss";
@import "reset.scss";

//components
@import "./components/header.scss";
@import "./components/modal.scss";
@import "./components/modalRefereces.scss";
@import "./components/tournamentName.scss";
@import "./components/references.scss";
@import "./components/referencesTable.scss";
@import "./components/referencesBtns.scss";
@import "./components/teams.scss";
@import "./components/componentToPrint.scss";
@import "./components/refereesAndCoaches.scss";
@import "./components/mandatoryProgram.scss";
@import "./components/theJudgingTeam.scss";
@import "./components/theDraw.scss";
@import "./components/main.scss";
@import "./components/programms.scss";
@import "./components/referencesInfo.scss";
@import "./components/ratings.scss";
@import "./components/anyProgramTeam.scss";
@import "./components/resultDocuments.scss";

.app {
  &__body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
  }
}

.card-numbers {
  // display: flex;
  // flex-direction: column;
  // gap: 50px;
  // position: relative;
  // height: 100vh;
  padding-top: 70px;

  * {
    font-family: "Times New Roman";
    background-color: initial;
  }

  &__list {
    list-style-type: none;
    counter-reset: example 0;

    li {
      counter-increment: example 1;
      &:before {
        content: counter(example);
      }
    }
  }

  &__evaluations {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &-row {
      display: flex;
      gap: 10px;
    }

    &-score {
      display: flex;
      gap: 10px;
      &-item {
        width: 15px;
        font-size: 12px;

        &-final {
          font-size: 12px;
          width: 70px;
        }
      }
    }
  }

  &__figure {
    &-header {
      font-weight: 500;
      text-decoration: underline;
      text-underline-offset: 3px;
    }

    &-result {
      font-weight: 500;
      border-top: 1px solid;
    }
  }

  &__header {
    font-weight: 700;
    margin-bottom: 10px;
    &-title {
      margin-bottom: 15px;
    }
  }

  &__title {
    font-weight: 700;
    margin-bottom: 6px;
  }

  td {
    vertical-align: baseline;
  }

  &__result {
    &-table {
      width: 100%;
      page-break-inside: auto;
      thead {
        td {
          white-space: nowrap;
          padding: 20px 4px;
        }
        tr {
          &:nth-child(2) {
            border-top: 1px solid;
          }
        }
      }

      tbody {
        tr {
          border-top: 1px solid;
        }

        td {
          font-size: 12px;
          white-space: nowrap;
        }
      }

      &-final {
        &-one {
          font-weight: 600;
        }
      }
    }
  }

  &__referee {
    display: flex;
    gap: 40px;
    margin-bottom: 5px;

    span {
      &:nth-child(1) {
        width: 150px;
      }
    }
  }

  &__brigades {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
  }

  &__list {
    &-title {
      font-weight: 500;
      margin-bottom: 10px;
    }

    &-items {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &-item {
      display: flex;
      gap: 10px;

      span {
        &:nth-child(2) {
          width: 160px;
        }
      }
    }
  }

  table {
    border-radius: 0;
    width: 100%;
    page-break-inside: auto;

   thead {
    th {
      &:last-child {
        border: 1px solid black;
      }
    }
   }

   td {
    &:last-child {
      border: 1px solid black;
    }
   }
  }
  th,
  td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    color: $BBlack;
  }

  .no-border {
    th:not(:last-child) {
      border: none;
    }

    th:last-child {
      height: 60px;
    }
  }

  // td {
  //   border: none;
  // }

  tr {
    page-break-inside: avoid;
    page-break-after: auto;

    &::after {
      display: none;
    }
  }
  thead {
    display: table-header-group;
  }

  &__header {
    position: fixed;
    top: 0mm;
    width: 100%;
    text-align: center;
  }

  @media print {
    &__item {
      page-break-inside: avoid;
      break-inside: avoid;
    }
  }
}



.breadcrumbs {
  &__link {
    color: $BSupport;
  }
}

.header-component {
  margin-bottom: 32px;
  &__title {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 8px;
  }
}

.flex {
  display: flex;
  align-items: flex-start;
  gap: 24px;

  &__right {
    flex: 1 1 auto;
  }
}

.left-navigation {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: $WWhite;
  border-radius: 12px;
  gap: 8px;

  &__link {
    display: block;
    background-color: $WBg;
    padding: 16px;
    border-radius: 12px;
    color: $BBlack;

    &.active {
      background-color: $Accent80;
      color: $WWhite;
    }
  }
}

.card-info {
  &__list {
    display: flex;
    gap: 24px;
  }

  &__item {
    display: block;
    background-color: $WWhite;
    padding: 16px;
    border-radius: 12px;

    &-icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background-color: $Accent80;
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;
    }

    &-text {
      font-size: 16px;
      font-weight: 400;
      line-height: 100%;
      color: $BSupport;
    }
  }
}

table {
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  thead {
    th {
      padding: 8px 24px;
      font-size: 18px;
      font-weight: 400;
      line-height: 100%;
      background-color: $Accent60;
      color: $WWhite;
      text-align: center;
      border-right: 1px solid $WBg;

      &:last-child {
        border: none;
      }
    }
  }

  tbody {
    tr {
      &:has(.table__subtitle) {
        td {
          padding: 0;
          &:last-child {
            background-color: $WWhite;
          }
        }
      }
      .dropdown {
        &__title {
          padding: 23px 28px;
          justify-content: space-between;
        }
      }
    }
  }

  td {
    border-right: 1px solid $WBg;

    &:last-child {
      border: none;
    }
  }

  tr {
    position: relative;
    text-align: center;
    background-color: $WReserve;

    &:has(.table__left-title) {
      border-top: 1px solid $WBg;
      // border-left: 1px solid $WBg;
      td {
        border-right: 1px solid $WBg;
      }
    }
  }

  tr::after {
    content: "";
    position: absolute;
    left: 2px;
    bottom: 0;
    width: calc(100% - 4px);
    border-bottom: 1px solid $WBg;
    border-radius: 100%;
  }

  tr:last-child::after {
    display: none;
  }

  &:has(.table__left-title) {
    tr::after {
      width: calc(100%);
      left: 60px;
    }
  }
}



.accordion {
  background-color: $WWhite;
  border-radius: 12px;
  &__title {
    cursor: pointer;
    padding: 16px;
    width: 100%;

    span {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 24px;
      font-weight: 400;
      line-height: 100%;
      font-family: $fontFamilyProstoOne;
      color: $BSubT;

      svg {
        transition: all 0.3s ease-in-out;
      }
    }

    &:has(.accordion__checkbox:checked) ~ .accordion__container {
      grid-template-rows: 1fr;
    }

    &:has(.accordion__checkbox:checked)
      ~ .accordion__container
      .accordion__container-animation-wrapper {
      transform: translateY(0);
      visibility: visible;
      transition: all 0.3s ease-in-out;
    }

    &:has(.accordion__checkbox:checked) span svg {
      transform: rotate(-90deg);
      transition: all 0.3s ease-in-out;
    }
  }

  &__checkbox {
    display: none;
  }

  &__container {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    &-animation {
      min-height: 0;

      &-wrapper {
        margin-top: 8px;
        padding: 16px;
        padding-top: 0;
        transform: translateY(-100%);
        visibility: hidden;
        transition: all 0.3s ease-in-out;

        .accordion {
          &:not(:last-child) {
            margin-bottom: 24px;
          }
          &__title {
            background-color: $Accent60;
            border-radius: 12px;

            span {
              font-size: 18px;
              font-family: $fontFamily;
              color: $WWhite;
            }
          }
        }
      }
    }
  }

  &--active {
    .accordion {
      &__container {
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

.custom-link {
  cursor: pointer;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  font-family: $fontFamilyProstoOne;
  color: $BSubT;
}

.table {
  &__subtitle {
    background-color: $Accent40;
    color: $WWhite;
  }

  &__caption {
    border-bottom: 1px solid $WBg;
  }

  &__header {
    td {
      text-align: start;
      background-color: $Accent60;
      color: $WWhite;
      padding: 13px 24px;
      font-size: 18px;
    }
  }

  &__left {
    &-title {
      background-color: $Accent60;

      span {
        transform: rotate(180deg);
        color: $WWhite;
        writing-mode: vertical-lr;
        text-align: center;
        white-space: nowrap;
      }
    }
  }
}

.dropdown {
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
  }

  &__search {
    margin-bottom: 10px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    background-color: $WWhite;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid $WDisable;
    outline: none;

    

    &-container {
      list-style: none;
      padding: 0;
      margin: 0;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background: $WBg;
        border-radius: 12px;
      }

      &::-webkit-scrollbar-thumb {
        background: $Accent60;
        border-radius: 40px;
        border: 2px solid $WBg;
      }
    }
  }
}

input {
  background-color: $WWhite;
  border: none;
  outline: none;
  border-bottom: 2px solid $BSupport;
  padding: 14px 8px;
  font-family: $fontFamily;
  font-weight: 400;
  font-size: 16px;
  border-radius: 4px 4px 0px 0px;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.custom-radio {
  position: relative;
  width: 28px;
  height: 28px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-image: url("../assets/svg/radio-button.svg");
    width: 28px;
    height: 28px;
  }
  &:has(input:checked) {
    &::after {
      background-image: url("../assets/svg/radio-button-active.svg");
    }
  }

  input {
    opacity: 0;
    visibility: hidden;
  }
}

.custom-checkbox {
  position: relative;
  width: 28px;
  height: 28px;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-image: url("../assets/svg/checkbox-button.svg");
    width: 28px;
    height: 28px;
  }
  &:has(input:checked) {
    &::after {
      background-image: url("../assets/svg/checkbox-button-active.svg");
    }
  }

  input {
    opacity: 0;
    visibility: hidden;
  }
}

.loader {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  animation: rotate 1s linear infinite;

  &::before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      inset: 0px;
      border-radius: 50%;
      border: 5px solid $Accent60;
      animation: prixClipFix 2s linear infinite;
    }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.component-to-print-document-any-program {
  padding-top: 70px;
  
&__list {
    list-style-type: none;
    counter-reset: example 0;

    li {
      counter-increment: example 1;
      &:before {
        content: counter(example);
      }
    }
  }

  &__evaluations {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &-row {
      display: flex;
      gap: 10px;
    }

    &-score {
      display: flex;
      gap: 10px;
      &-item {
        width: 15px;
        font-size: 12px;

        &-final {
          font-size: 12px;
          width: 70px;
        }
      }
    }
  }

  &__figure {
    &-header {
      font-weight: 500;
      text-decoration: underline;
      text-underline-offset: 3px;
    }

    &-result {
      font-weight: 500;
      border-top: 1px solid;
    }
  }

  &__header {
    font-weight: 700;
    margin-bottom: 10px;
    &-title {
      margin-bottom: 15px;
    }
  }

  &__title {
    font-weight: 700;
    margin-bottom: 6px;
  }

  td {
    vertical-align: baseline;
  }

  &__result {
    &-table {
      width: 100%;
      page-break-inside: auto;
      // table-layout: fixed;
      thead {
        td {
          white-space: nowrap;
          padding: 20px 4px;
        }

        tr {
          &:nth-child(2) {
            border-top: 1px solid;
          }
        }
        th {
          // padding: 0 10px;
          padding-left: 4px;
          text-align: center;
          font-size: 10px;
          color: $BBlack;

          &:nth-child(1) {
            width: 5%;
          }
          &:nth-child(2) {
            width: 20%;
          }
          &:nth-child(3) {
            width: 60%;
          }
          &:nth-child(4) {
            width: 10%;
          }
          &:nth-child(5) {
            width: 25%;
          }

          div {
            font-size: 10px;

            &:first-child {
              margin-bottom: 4px;
            }
          }
        }
      }

      tbody {
        tr {
          border-top: 1px solid;
        }

        td {
          font-size: 8px;
          padding: 4px;
          // white-space: nowrap;
          div {
            font-size: 8px;
            text-align: left;
          }
          span {
            display: flex;
            font-size: 8px;
            text-align: left;
          }

          &:nth-child(1) {
            width: 5%;
          }
          &:nth-child(2) {
            width: 20%;
          }
          &:nth-child(3) {
            width: 60%;
          }
          &:nth-child(4) {
            width: 10%;
          }
          &:nth-child(5) {
            width: 25%;
          }
        }
      }

      &-final {
        &-one {
          font-weight: 600;
        }
      }
    }
  }

  &__referee {
    display: flex;
    gap: 40px;
    margin-bottom: 5px;

    span {
      &:nth-child(1) {
        width: 150px;
      }
    }
  }

  &__brigades {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
  }

  &__list {
    &-title {
      font-weight: 500;
      margin-bottom: 10px;
    }

    &-items {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &-item {
      display: flex;
      gap: 10px;

      span {
        &:nth-child(2) {
          width: 160px;
        }
      }
    }
  }

  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }
  thead {
    display: table-header-group;
  }

  &__header {
    position: fixed;
    top: 0mm;
    width: 100%;
    text-align: center;
  }
}

.component-to-print-document {
  // display: flex;
  // flex-direction: column;
  // gap: 50px;
  // position: relative;
  // height: 100vh;
  padding-top: 70px;

  * {
    font-family: "Times New Roman";
    background-color: initial;
  }

  &__list {
    list-style-type: none;
    counter-reset: example 0;

    li {
      counter-increment: example 1;
      &:before {
        content: counter(example);
      }
    }
  }

  &__evaluations {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &-row {
      display: flex;
      gap: 10px;
    }

    &-score {
      display: flex;
      gap: 10px;
      &-item {
        width: 15px;
        font-size: 12px;

        &-final {
          font-size: 12px;
          width: 70px;
        }
      }
    }
  }

  &__figure {
    &-header {
      font-weight: 500;
      text-decoration: underline;
      text-underline-offset: 3px;
    }

    &-result {
      font-weight: 500;
      border-top: 1px solid;
    }
  }

  &__header {
    font-weight: 700;
    margin-bottom: 10px;
    &-title {
      margin-bottom: 15px;
    }
  }

  &__title {
    font-weight: 700;
    margin-bottom: 6px;
  }

  td {
    vertical-align: baseline;
  }

  &__result {
    &-table {
      width: 100%;
      page-break-inside: auto;
      thead {
        td {
          white-space: nowrap;
          padding: 20px 4px;
        }
        tr {
          &:nth-child(2) {
            border-top: 1px solid;
          }
        }
      }

      tbody {
        tr {
          border-top: 1px solid;
        }

        td {
          font-size: 12px;
          // white-space: nowrap;

          &:nth-child(2) {
            text-align: left;
          }
        }
      }

      &-final {
        &-one {
          font-weight: 600;
        }
      }
    }
  }

  &__referee {
    display: flex;
    gap: 40px;
    margin-bottom: 5px;

    span {
      &:nth-child(1) {
        width: 150px;
      }
    }
  }

  &__brigades {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
  }

  &__list {
    &-title {
      font-weight: 500;
      margin-bottom: 10px;
    }

    &-items {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &-item {
      display: flex;
      gap: 10px;

      span {
        &:nth-child(2) {
          width: 160px;
        }
      }
    }
  }

  td {
    border: none;
  }

  tr {
    page-break-inside: avoid;
    page-break-after: auto;

    &::after {
      display: none;
    }
  }
  thead {
    display: table-header-group;
  }

  &__header {
    position: fixed;
    top: 0mm;
    width: 100%;
    text-align: center;
  }
}




@media print {
  .last {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
  }
}

.page-header,
.page-header-space {
  height: 30px;
}

@media print {
  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-footer-group;
  }

  button {
    display: none;
  }

  body {
    margin: 0;
  }
}
